<!--
  Generated template for the ModalContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Realice su pedido en el local</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
hello
</ion-content>
