<ion-header>
  <ion-navbar color="danger">
    <ion-buttons start>
      <button ion-button menuToggle icon-only start>
        <ion-icon name='information-circle'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Inicio</ion-title>
    <ion-buttons end>
      <button ion-button small clear end (click)="tocarImagen()">
        <img height="30" width="30" src="" id="imagen" class="imagenPerfil">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p text-center>¡Bienvenido a Manta Eats!</p>
</ion-content>