<ion-tabs color="light">
  <ion-tab tabTitle="Inicio" tabIcon="home" [root]="tab1Root"></ion-tab>
  <ion-tab tabTitle="Locales" tabIcon="pizza" [root]="tab2Root"></ion-tab>
  <ion-tab tabTitle="Perfil" tabIcon="cog" [root]="tab3Root"></ion-tab>
</ion-tabs>