<!--
  Generated template for the ModalContentLocalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Agregue un nuevo local</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-30>
        <ion-item color="inputs">
          <ion-label floating color="inputLabel" style="font-weight:bold">Nombre del local</ion-label>
          <ion-input type="text" style="color:white" [(ngModel)]="local.nombre" value=" "></ion-input>
        </ion-item>

        <ion-item color="inputs">
          <ion-label floating color="inputLabel" style="font-weight:bold">Dirección del local</ion-label>
          <ion-input type="text" style="color:white" [(ngModel)]="local.direccion" value=" "></ion-input>
        </ion-item>

        <ion-item color="inputs">
          <ion-label floating color="inputLabel" style="font-weight:bold">Likes en Facebook</ion-label>
          <ion-input type="number" step="1" style="color:white" [(ngModel)]="local.likes" value=" "></ion-input>
        </ion-item>

        <ion-item color="inputs">
          <ion-label floating color="inputLabel" style="font-weight:bold">Seguidores en Twitter</ion-label>
          <ion-input type="number" step="1" style="color:white" [(ngModel)]="local.followers" value=" "></ion-input>
        </ion-item>

        <ion-item color="inputs">
          <ion-label stacked color="inputLabel" style="font-weight:bold">Imagen del local</ion-label>
          <ion-input type="file" accept="image/*" (change)="changeListener($event)" style="color:white" [(ngModel)]="local.imagen"></ion-input>
        </ion-item>
        <ion-item color="inputs" text-center>
          <button ion-button (click)="subirImagenAFirebase(file, local)" medium>Agregar nuevo local</button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
