<ion-header>
  <ion-navbar color="danger">
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name='information-circle'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Locales</ion-title>
    <ion-buttons end>
      <button ion-button small clear (click)="tocarImagen()">
        <img height="30" width="30" src="" id="imagenLocal" class="imagenPerfil">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let local of locales">
    <img src="https://firebasestorage.googleapis.com/v0/b/manta-eats.appspot.com/o/locales%2F{{local.id}}?alt=media&token=334bdd2c-fd82-444b-8e2a-f49d99991388">
    <ion-card-content>
      <ion-card-title style = "color: white" text-center>
        {{local.nombre}}
      </ion-card-title>
      <p style="color: rgb(172, 172, 172)" text-center>{{local.direccion}}</p>
    </ion-card-content>

    <ion-item>
      <ion-icon name="md-thumbs-up" item-start style = "color: #48659A"></ion-icon>
      Me gusta
      <ion-badge item-end>{{local.likes}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
      Seguidores
      <ion-badge item-end>{{local.followers}}</ion-badge>
    </ion-item>

    <ion-item>
        <button ion-button clear (click)="realizarPedido()" large item-start><ion-icon name="cart"></ion-icon><p padding style="color: #e0b938">Realizar pedido</p></button>
        <button ion-button clear (click)="irEditarLocal(local)" large item-end><ion-icon name="create"></ion-icon><p padding style="color: #e0b938">Editar</p></button>
    </ion-item>

    <ion-item text-center>
        <button ion-button clear (click)="eliminarLocal(local)" large><ion-icon name="trash" style="color: red"></ion-icon><p padding style="color: red">Eliminar local</p></button>
    </ion-item>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="irAgregarLocal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
