<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Perfil</ion-title>
    <button ion-button menuToggle icon-only start>
      <ion-icon name='information-circle'></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="container" [hidden]="!flag">
    <img src="" id="imagenProfile" padding>
    <p style="font-size: 16px; padding-bottom: 10px">Nombre: {{nombreUsuario}}</p>
    <p style="font-size: 16px; padding-bottom: 10px">Email: {{emailUsuario}}</p>
    <button ion-button block color="red" (click)="cerrarSesion()">Cerrar sesión</button>
  </div>
  <div [hidden]="!anotherFlag">
    <button ion-button block color="grey" (click)="goToLogIn()">Iniciar sesión</button>
  </div>
</ion-content>
