<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="danger">

  <ion-toolbar color="danger">
    <ion-item color="danger">
      <button ion-button clear (click)="cancelar()" item-start icon-only><ion-icon name="arrow-back" style="color: #ffffff"></ion-icon></button>
      <ion-title text-center>Inicio de sesión</ion-title>
    </ion-item>
  </ion-toolbar>
  

</ion-header>


<ion-content padding>
  <button ion-button block color="blu" (click)="logInFacebook()" text-center>Inicio de sesión con Facebook</button>

</ion-content>
